*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}
body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--Hobo{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/Hobo.jpg);
}

.card__image--HoboPrison{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/HoboPrison.jpg);
}
----- gotta add
.card__image--HoboHell{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/hobohell.jpg);
}

.card__image--HoboWanted{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/hobowanted.jpg);
}

.card__image--HoboHeaven{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/hoboheaven.jpg);
}

.card__image--HoboTotalWar{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/hobototalwar.jpg);
}

.card__image--learntofly{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/learntofly.jpg);
}

.card__image--learntofly2{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/learntofly2.jpg);
}

.card__image--DuckLife1{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/ducklife.jpg);
}

.card__image--DuckLife2{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/ducklife2.jpg);
}

.card__image--DuckLife3{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/ducklife3.jpg);
}

.card__image--DuckLife4{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/ducklife4.jpg);
}

.card__image--ArmedWithWings{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/armedwithwings.jpg);
}


.card__image--ArmedWithWings2{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/armedwithwings2.jpg);
}


.card__image--ArmedWithWings3{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/armedwithwings3.jpg);
}

.card__image--BloonsTD1{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/bloontowerdefense.jpg);
}

.card__image--BloonsTD2{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/bloontowerdefense2.jpg);
}

.card__image--Sonny{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/sonny.jpg);
}

.card__image--BoosWhack{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/whackyourboss.jpg);
}

.card__image--Bloxorz{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/bloxorz.jpg);
}

.card__image--IndestructoTank{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/indestructotank.jpg);
}

.card__image--InteractiveBuddy{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/interactivebuddy.jpg);
}

.card__image--SonicTheHedgehod{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/sonicthehedgehog.png);
}

.card__image--UnfairMario{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/unfairmario.jpg);
}

.card__image--TheImpossibleQuiz{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/TheImpossibleQuiz.jpg);
}

.card__image--EscapingThePrision{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/Escapingtheprision.jpg);
}

.card__image--StealingTheDiamond{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/StealingtheDiamond.jpg);
}

.card__image--SuperMario63{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/supermario63.jpg);
}

.card__image--MarioCombat{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/mariocombat.jpg);
}

.card__image--TheWorldHardestGame{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/theworldshardestgame.png);
}

.card__image--UltimateFlashSonic{
  background-image: url(https://raw.githubusercontent.com/Bossxer/Main/main/img/UltimateFlashSonic.png);
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
